* {
    box-sizing: border-box;
    font-size: larger;
}

body {
    background-color: lightblue;
}

.bigContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 540px;
    border: 1px solid black;
    background-color: rgb(255, 40, 40);
    border-radius: 5px 5px;
}

.answerDisplay {
    border: 1px solid black;
    width: 85%;
    margin: 20px auto;
    height: 14%;
    padding-right: 10px;
    padding-top: 15px;
    text-align: end;
    background-color: lightgray;
    border-radius: 10px 10px;
}

.container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: -10px auto;
    width: 90%;
    height: 80%;
}

.rowContainer {
    justify-content: space-evenly;
}

.rowContainer>button {
    width: 70px;
    height: 70px;
    border-radius: 15%;
    margin: 2px;
    box-shadow: 5px 5px grey;
    border: 1px solid gray;
}

.rowContainer .rectangleBtn {
    width: 150px;
    border-radius: 10px 10px;
}

.rowContainer button:hover {
    background-color: lightgreen;
    transform: translate(3%, 3%);
    box-shadow: 2px 2px grey;
}